@model CSM.Bataan.School.WebSite.ViewModels.SchoolFacility.SchoolFacilityViewModel
@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}


<h2>SchoolFacility</h2>



<h2>@Model.Title</h2>
@Html.Raw(Model.Content)

