@model CSM.Bataan.School.WebSite.Areas.Manage.ViewModels.Achievers.BannerViewModel
@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}
<h2>Achievers Banner</h2>
<div class="row">
    <div class="col-md-6">
        <form action="~/manage/achievers/update-banner" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="hidden" name="AchieverId" value="@Model.AchieverId" />
                <label for="Banner">Banner:</label><br />
                <img src="~/achievers/@Model.AchieverId/banner.png" style="max-width:750px;max-height:300px;" /></br></br>
                <input type="file" class="form-control" name="banner" />
                @Html.ValidationSummary()
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </div>
</div>
