@model CSM.Bataan.School.WebSite.Areas.Manage.ViewModels.SchoolFacilities.CreateViewModel
@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}




<div class="row">
    <div class="col-md-6">
        <form action="~/manage/schoolfacilities/create" method="post">
            @Html.ValidationSummary()
            <div class="form-group">
                <label for="Title">Title:</label>
                <input type="text" class="form-control" name="Title" />
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea class="form-control" rows="4" name="Description">
                </textarea>
            </div>
            <div class="form-group">
                <label for="Content">Content</label>
                <textarea class="form-control" rows="8" name="Content">
                </textarea>
            </div>
            <div class="form-group">
                <label for="Post Expiry">Post Expiry:</label>
                <input type="text" class="form-control" name="PostExpiry" id="postExpiry" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section pageScripts{
    <script>
    $(function () {
        $("#postExpiry").datepicker({ dateFormat: 'dd/mm/yy' });
    });
    </script>
}


