@model CSM.Bataan.School.WebSite.ViewModels.Researches.IndexViewModel
@using CSM.Bataan.School.WebSite.Infrastructure.Security;
@using CSM.Bataan.School.WebSite.Infrastructure.Data.Models;
@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}

<!--end: Accordion -->
<h2>Abstract of Study</h2>
Welcome @WebUser.FullName




    <section class="posts-con" id="post-container">
        @{

            foreach (Research research in Model.Researches)
            {
                <article>
                    <div class="info">
                        <p><strong>@research.Title</strong></p>
                        <p class="info-line"><span class="time">@research.Timestamp.ToString("dddd, dd MMMM yyyy hh:mm tt")</span></p>
                        <p><a href="~/researches/@research.Id" class="btn btn-primary">Read More &rarr;</a></p>
                    </div>
                </article>

            }
        }
    </section>




    @section pageScripts{`
        <script src="~/js/date_format.js"></script>
        <script>
    var page = @("1");
    var calling = false;
    $(window).scroll(function () {
        if (($(window).height() + $(window).scrollTop()) + 1
            >= $(document).height()) {

            if (calling == false) {
                calling = true;
                $.ajax({
                    type: "GET",
                    url: "/researches/feed?pageIndex=" + (page + 1),
                    success: function (rsp) {
                        page = page + 1;
                        calling = false;
                        $.each(rsp, function (index, item) {
                            var itemTimestamp = new Date(Date.parse(item.timestamp));
                            var markup = "<article>";
                            markup = markup + "<div class='info'>";
                            markup = markup + "<p><strong>" + item.title +  "</strong></p>";
                            markup = markup + "<p class='info-line'><span class='time'>" + itemTimestamp.format("dddd, mmmm d, yyyy hh:MM TT") + "</span></p>";
                            markup = markup + "<p><a href='~/researches/" + item.Id + "' class='btn btn-primary'>Read More &rarr;</a></p>";
                            markup = markup + "</div>";
                            markup = markup + "</article>";

                            $("#post-container").append(markup);
                        });
                    }
                });
            }
        }
    });
        </script>
    }
