
@{
    Layout = "~/views/shared/_layout.cshtml";
}



<title>Organization Chart Plugin</title>
<body>
    <div id="chart-container">
    <div class="orgchart">
        <table>
            <tr>
                <td colspan="4">
                    <div class="node" style="width:250px;">
                        <div class="title">
                            <i class=""></i>
                            SOLEDAD G. MANINDING.ED.D
                        </div>
                        <div class="content">Chief Executive Officer/President</div>
                        <i class="edge verticalEdge bottomEdge fa"></i>
                    </div>
                </td>
            </tr>
            <tr class="lines">
                <td colspan="4">
                    <div class="downLine"></div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="node" style="width:350px;">
                        <div class="title">
                            <i class="fa fa-users symbol"></i>
                            ROMMEL G. MANINDING
                        </div>
                        <div class="content">SENIOR SCHOOL ADMINISTRATOR/VP FOR ADMINISTRATION</div>
                        <i class="edge verticalEdge bottomEdge fa"></i>
                    </div>
                </td>
            </tr>
            <tr class="lines">
                <td colspan="4">
                    <div class="downLine"></div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="node" style="width:350px;">
                        <div class="title">
                            <i class="fa fa-users symbol"></i>
                            MICHELLE D. MANINGDING.PH.D.
                        </div>
                        <div class="content">SCHOOL ADMINISTRATOR/VP FOR ACADEMIC AFFAIRS</div>
                        <i class="edge verticalEdge bottomEdge fa"></i>
                    </div>
                </td>
            </tr>
            <tr class="lines">
                <td colspan="4">
                    <div class="downLine"></div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="node" style="width:350px;">
                        <div class="title">
                            <i class="fa fa-users symbol"></i>
                            JOSEPH O. BARCARSE
                        </div>
                        <div class="content">ACADEMIC AFFAIRS AND ADMINISTRATION HEAD</div>
                        <i class="edge verticalEdge bottomEdge fa"></i>
                    </div>
                </td>
            
            </tr>
  
            <tr class="lines">
                <td colspan="4">
                    <div class="downLine"></div>
                </td>
            </tr>
            <tr class="lines">
                <td class="rightLine"></td>
                <td class="leftLine topLine"></td>
                <td class="rightLine topLine"></td>
                <td class="leftLine"></td>
            </tr>

            <tr class="nodes">
                <td colspan="2">
                    <table>
                        <tr>
                            <td colspan="4">
                                <div class="node middle-level" style="width:250px;">
                                    <div class="title">
                                        <i class=""></i>
                                        HIGHER EDUCATION DEPARTMENT
                                    </div>

                                    <i class="edge verticalEdge topEdge fa"></i>
                                    <i class="edge horizontalEdge rightEdge fa">
                                    </i><i class="edge horizontalEdge leftEdge fa">
                                    </i><i class="edge verticalEdge bottomEdge fa"></i>
                                </div>

                            </td>

                        </tr>

                        <tr class="lines">
                            <td colspan="4">
                                <div class="downLine"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div class="node pipeline1" style="width:250px;">
                                    <div class="title">
                                        <i class="fa fa-users symbol"></i>
                                        MA. THERESA S. JIMENEZ. MIT
                                    </div>
                                    <div class="content">OIC-COLLEGE HEAD</div>
                                    <i class="edge verticalEdge topEdge fa"></i>
                                    <i class="edge horizontalEdge rightEdge fa">
                                    </i><i class="edge horizontalEdge leftEdge fa">
                                    </i><i class="edge verticalEdge bottomEdge fa"></i>
                                </div>

                            </td>

                        </tr>
                        <tr class="lines">
                            <td colspan="4">
                                <div class="downLine"></div>
                            </td>
                        </tr>
                        <tr class="lines">
                            <td class="rightLine"></td>
                            <td class="leftLine topLine"></td>
                            <td class="rightLine topLine"></td>
                            <td class="leftLine"></td>
                        </tr>
                        <tr class="lines">
                            <td colspan="2">
                                <div class="downLine"></div>
                            </td>
                         
                        </tr>                    
                        <tr class="nodes">
                            <td colspan="2" class="">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="node">
                                                <div class="title">Deans</div>
                                                <div class=""></div>
                                                <i class="edge verticalEdge topEdge fa"></i>
                                                <i class="edge horizontalEdge rightEdge fa"></i>
                                                <i class="edge horizontalEdge leftEdge fa"></i>
                                            </div>
                                        </td>

                                    </tr>
                                </table>
                            </td>
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td colspan="6">
                                            <div class="node product-dept">
                                                <div class="title">
                                                    <i class="fa fa-users symbol"></i>Li Xin
                                                </div>
                                                <div class="content">senior engineer</div>
                                                <i class="edge verticalEdge topEdge fa"></i>
                                                <i class="edge horizontalEdge rightEdge fa"></i>
                                                <i class="edge horizontalEdge leftEdge fa"></i>
                                                <i class="edge verticalEdge bottomEdge fa"></i>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="lines">
                                        <td colspan="6">
                                            <div class="downLine"></div>
                                        </td>
                                    </tr>
                                    <tr class="lines">
                                        <td class="rightLine"></td>
                                        <td class="leftLine topLine"></td>
                                        <td class="rightLine topLine"></td>
                                        <td class="leftLine topLine"></td>
                                        <td class="rightLine topLine"></td>
                                        <td class="leftLine"></td>
                                    </tr>

                                    <tr class="nodes">
                                        <td colspan="2">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div class="node pipeline1">
                                                            <div class="title">To To</div>
                                                            <div class="content">engineer</div>
                                                            <i class="edge verticalEdge topEdge fa"></i>
                                                            <i class="edge horizontalEdge rightEdge fa"></i>
                                                            <i class="edge horizontalEdge leftEdge fa"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>

                                        <td colspan="2">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div class="node pipeline1">
                                                            <div class="title">Fei Fei</div>
                                                            <div class="content">engineer</div>
                                                            <i class="edge verticalEdge topEdge fa"></i>
                                                            <i class="edge horizontalEdge rightEdge fa"></i>
                                                            <i class="edge horizontalEdge leftEdge fa"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>

                                        <td colspan="2">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div class="node pipeline1">
                                                            <div class="title">Xuan Xuan</div>
                                                            <div class="content">engineer</div>
                                                            <i class="edge verticalEdge topEdge fa"></i>
                                                            <i class="edge horizontalEdge rightEdge fa"></i>
                                                            <i class="edge horizontalEdge leftEdge fa"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td colspan="2">
                    <table>
                        <tr>
                            <td colspan="4">
                                <div class="node middle-level">
                                    <div class="title">
                                        <i class="fa fa-users symbol"></i>Su Miao
                                    </div>
                                    <div class="content">department manager</div>
                                    <i class="edge verticalEdge topEdge fa"></i>
                                    <i class="edge horizontalEdge rightEdge fa"></i>
                                    <i class="edge horizontalEdge leftEdge fa"></i>
                                    <i class="edge verticalEdge bottomEdge fa"></i>
                                </div>
                            </td>
                        </tr>

                        <tr class="lines">
                            <td colspan="4">
                                <div class="downLine"></div>
                            </td>
                        </tr>
                        <tr class="lines">
                            <td class="rightLine"></td>
                            <td class="leftLine topLine"></td>
                            <td class="rightLine topLine"></td>
                            <td class="leftLine"></td>
                        </tr>
                        <tr class="nodes">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="node rd-dept">
                                                <div class="title">Pang Pang</div>
                                                <div class="content">senior engineer</div>
                                                <i class="edge verticalEdge topEdge fa"></i>
                                                <i class="edge horizontalEdge rightEdge fa"></i>
                                                <i class="edge horizontalEdge leftEdge fa"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td colspan="6">
                                            <div class="node rd-dept">
                                                <div class="title">
                                                    <i class="fa fa-users symbol"></i>Hei Hei
                                                </div>
                                                <div class="content">senior engineer</div>
                                                <i class="edge verticalEdge topEdge fa"></i>
                                                <i class="edge horizontalEdge rightEdge fa"></i>
                                                <i class="edge horizontalEdge leftEdge fa"></i>
                                                <i class="edge verticalEdge bottomEdge fa"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="lines">
                                        <td colspan="6">
                                            <div class="downLine"></div>
                                        </td>
                                    </tr>

                                    <tr class="lines">
                                        <td class="rightLine"></td>
                                        <td class="leftLine topLine"></td>
                                        <td class="rightLine topLine"></td>
                                        <td class="leftLine topLine"></td>
                                        <td class="rightLine topLine"></td>
                                        <td class="leftLine"></td>
                                    </tr>
                                    <tr class="nodes">
                                        <td colspan="2">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div class="node frontend1">
                                                            <div class="title">Xiang Xiang</div>
                                                            <div class="content">UE engineer</div>
                                                            <i class="edge verticalEdge topEdge fa"></i>
                                                            <i class="edge horizontalEdge rightEdge fa"></i>
                                                            <i class="edge horizontalEdge leftEdge fa"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td colspan="2">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div class="node frontend1">
                                                            <div class="title">Dan Dan</div>
                                                            <div class="content">engineer</div>
                                                            <i class="edge verticalEdge topEdge fa"></i>
                                                            <i class="edge horizontalEdge rightEdge fa"></i>
                                                            <i class="edge horizontalEdge leftEdge fa"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td colspan="2">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div class="node frontend1">
                                                            <div class="title">Zai Zai</div>
                                                            <div class="content">engineer</div>
                                                            <i class="edge verticalEdge topEdge fa"></i>
                                                            <i class="edge horizontalEdge rightEdge fa"></i>
                                                            <i class="edge horizontalEdge leftEdge fa"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>



<style type="text/css">
    .orgchart {
        background: #fff;
    }

        .orgchart td.left, .orgchart td.right, .orgchart td.top {
            border-color: #aaa;
        }

        .orgchart td > .down {
            background-color: #aaa;
        }

        .orgchart .middle-level .title {
            background-color: #006699;
        }

        .orgchart .middle-level .content {
            border-color: #006699;
        }

        .orgchart .product-dept .title {
            background-color: #009933;
        }

        .orgchart .product-dept .content {
            border-color: #009933;
        }

        .orgchart .rd-dept .title {
            background-color: #993366;
        }

        .orgchart .rd-dept .content {
            border-color: #993366;
        }

        .orgchart .pipeline1 .title {
            background-color: #996633;
        }

        .orgchart .pipeline1 .content {
            border-color: #996633;
        }

        .orgchart .frontend1 .title {
            background-color: #cc0066;
        }

        .orgchart .frontend1 .content {
            border-color: #cc0066;
        }
</style>
<script type="text/javascript">
    $(function () {

        var datascource = {
            'name': 'SOLEDAD G. MANINDING.ED.D',
            'title': 'Chief Executive Officer/President',
            'width' : '(500px;)',
            'children': [
                {
                    'name': 'Bo Miao', 'title': 'department manager', 'className': 'middle-level',
                    'children': [
                        { 'name': 'Li Jing', 'title': 'senior engineer', 'className': 'product-dept' },
                        {
                            'name': 'Li Xin', 'title': 'senior engineer', 'className': 'product-dept',
                            'children': [
                                { 'name': 'To To', 'title': 'engineer', 'className': 'pipeline1' },
                                { 'name': 'Fei Fei', 'title': 'engineer', 'className': 'pipeline1' },
                                { 'name': 'Xuan Xuan', 'title': 'engineer', 'className': 'pipeline1' }
                            ]
                        }
                    ]
                },
                {
                    'name': 'Su Miao', 'title': 'department manager', 'className': 'middle-level',
                    'children': [
                        { 'name': 'Pang Pang', 'title': 'senior engineer', 'className': 'rd-dept' },
                        {
                            'name': 'Hei Hei', 'title': 'senior engineer', 'className': 'rd-dept',
                            'children': [
                                { 'name': 'Xiang Xiang', 'title': 'UE engineer', 'className': 'frontend1' },
                                { 'name': 'Dan Dan', 'title': 'engineer', 'className': 'frontend1' },
                                { 'name': 'Zai Zai', 'title': 'engineer', 'className': 'frontend1' }
                            ]
                        }
                    ]
                }
            ]
        };

        $('#chart-container').orgchart({
            'data': datascource,
            'nodeContent': 'title'
        });

    });
</script>