@model CSM.Bataan.School.WebSite.ViewModels.Courses.CoursesViewModel

@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}


<h2>@Model.Title</h2>
@Model.Year
@Model.CourseCode
@Html.Raw(Model.Content)

