@model CSM.Bataan.School.WebSite.ViewModels.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/areas/manage/views/shared/_forms.cshtml";
}
<div class="card-header"><a href="~/home"><span class="fa fa-arrow-left"></span> back to home</a></div>
<div class="card-body">
    <div class="card-title">
        <h3 class="text-center title-2">Change Password</h3>
    </div>
    <hr>
    <form action="~/account/change-password" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-group">
            <label for="old-password">Old Password</label>
            <input type="password" class="form-control" id="old-password" name="OldPassword" aria-describedby="passwordHelp" placeholder="Enter old password">
            <small id="passwordHelp" class="form-text text-muted">Password is required.</small>
        </div>
        <hr />
        <div class="form-group">
            <label for="new-password">Password</label>
            <input type="password" class="form-control" id="new-password" name="NewPassword" aria-describedby="passwordHelp" placeholder="Enter new password">
            <small id="passwordHelp" class="form-text text-muted">Password is required.</small>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="ConfirmNewPassword" aria-describedby="confirmPasswordHelp" placeholder="Enter password confirmation">
            <small id="confirmPasswordHelp" class="form-text text-muted">Password Confirmation is required.</small>
        </div>
        <hr />
        <div class="form-group">
            <recaptcha />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="~/home/index" class="btn btn-danger">Cancel</a>
    </form>
</div>


@section pageScripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <recaptcha-script />
}