

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm footer-contact">
                <h3>Contact</h3>
                <ul>
                    <li class="last"><h4>Dinalupihan Campus</h4></li>
                    <li class="address last"><a href="#">National Hiway Sta. Isabel, Dinalupihan, Bataan</a></li>
                    <li class="phone"><a href="#">(047) 633 5531</a></li>
                    <li class="last"><h4>Lincoln Campus</h4></li>
                    <li class="address last"><a href="#">Lincoln Hieghts, San Pablo, Dinalupihan, Bataan</a></li>
                    <li class="phone last"><a href="#">(047) 123 4567</a></li>
                </ul>
            </div>
            
            <div class="col-sm footer-faqs">
                <h3>FAQs (@@Wendhel)</h3>
                <ul>
                    <li><a href="#">Omnis iste natus error sit</a></li>
                    <li><a href="#">Nam libero tempore cum soluta</a></li>
                    <li><a href="#">Totam rem aperiam eaque </a></li>
                    <li><a href="#">Ipsa quae ab illo inventore veritatis </a></li>
                    <li><a href="#">Nam libero tempore cum soluta</a></li>
                    <li><a href="#">Totam rem aperiam eaque </a></li>
                    <li><a href="#">Architecto beatae vitae dicta sunt </a></li>
                    <li class="last"><a href="#">See all </a></li>
                </ul>
            </div>
            <div class="col-sm footer-courses">
                <h3>Courses (@@Jane)</h3>
                <p>Temporibus autem quibusdam et aut debitis aut rerum necessitatibus saepe.</p>
                <ul>
                    <li><a href="#">BSIS</a></li>
                    <li><a href="#">BSBA</a></li>
                    <li><a href="#">BSCRIM</a></li>
                    <li><a href="#">BSCA</a></li>
                    <li><a href="#">BSIS</a></li>
                    <li><a href="#">BSBA</a></li>
                    <li><a href="#">BSCRIM</a></li>
                </ul>
            </div>
            <div class="col-sm footer-promotions">
                <h3>Scholarships (@@Jane)</h3>
                <p>Assumenda est omnis dolor repellendus temporibus autem quibusdam.</p>
                <ul>
                    <li><a href="#">DSA Program</a></li>
                    <li><a href="#">Full Scholarships</a></li>
                    <li><a href="#">Scholar ng Bayan</a></li>
                    <li><a href="#">Tesda Scholarships</a></li>
                    <li><a href="#">Ched Scholarships</a></li>
                </ul>
            </div>
        </div>
        <p class="copy">Copyright @DateTime.Now.Year <strong><a href="~/index">  COLLEGE OF SUBIC MONTESSORI - DINALUPIHAN - LINCOLN HEIGHTS  </a></strong> All rights reserved.</p>
    </div>
    <!-- / container -->
</footer>
<!-- / footer -->

<div id="fancy">
    <h2>Request information</h2>
    <form action="#">
        <div class="left">
            <fieldset class="mail"><input placeholder="Email address..." type="text"></fieldset>
            <fieldset class="name"><input placeholder="Name..." type="text"></fieldset>
            <fieldset class="subject"><select><option>Choose subject...</option><option>Choose subject...</option><option>Choose subject...</option></select></fieldset>
        </div>
        <div class="right">
            <fieldset class="question"><textarea placeholder="Question..."></textarea></fieldset>
        </div>
        <div class="btn-holder">
            <button class="btn blue" type="submit">Send request</button>
        </div>
    </form>
</div>