<header id="header">
    <div class="container">
        <a href="~/home" id="logo" title="HarrisonHighSchool">COLLEGE OF SUBIC MONTESSORI, Inc. - BATAAN </a>
        <div class="menu-trigger"></div>
        <nav id="menu">
            <ul>
                <li><a href="~/alumniprofiles">Montessorians</a></li>
                <li><a href="~/ads">Marketting</a></li>
            </ul>
            <ul>
                <li><a href="~/faqs">Knowledgebase</a></li>
                <li><a href="~/schoolfacilities">Lounge</a></li>
            </ul>
        </nav>
        <!-- / navigation -->
    </div>
    <!-- / container -->

</header>
<!-- / header -->