<header id="header">
    <div class="container">
        <a href="~/home" id="logo" title="HarrisonHighSchool">COLLEGE OF SUBIC MONTESSORI, Inc. - BATAAN </a>
        <div class="menu-trigger"></div>
        <nav id="menu">
            <ul>
                <li><a href="~/alumniprofiles">Montessorians</a></li>
                <li><a href="~/ads">Marketing</a></li>
            </ul>
            <ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="~/faqs" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Knowledgebase
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="~/schooldirectories">School Directory</a>
                    </div>
                </li>
                <li><a href="~/schoolfacilities">Lounge</a></li>
            </ul>
        </nav>
        <!-- / navigation -->
    </div>
    <!-- / container -->

</header>
<!-- / header -->